/* ===================================================================
   Estilos generales para la página web
   Este código asegura una presentación consistente eliminando márgenes
   y rellenos predeterminados, además de manejar la altura y el scroll.
   =================================================================== */

   html, body {
    /* Elimina los márgenes predeterminados del navegador */
    margin: 0;

    /* Elimina el relleno interno predeterminado en el cuerpo de la página */
    padding: 0;

    /* Establece la altura del `html` y `body` al 100% del tamaño del viewport */
    /* Esto permite que elementos dentro del `body` ocupen toda la pantalla */
    height: 100%;

    /* Oculta la barra de desplazamiento horizontal */
    /* Esto evita problemas con elementos que sobresalen del ancho de la ventana */
    overflow-x: hidden;
}

.style-first-div-login{
    min-height: 100vh;
}

.style-third-div-login{
    width: 100%;
    max-width: 400px;
}

.img-login{
    max-height: 100px;
    object-fit: contain;
}

/* ===== SweetAlert2 soporte DARK MODE ===== */
html[data-bs-theme="dark"] .swal2-popup {
    background-color: #212529;
    color: #f8f9fa;
  }
  
  html[data-bs-theme="dark"] .swal2-title,
  html[data-bs-theme="dark"] .swal2-html-container {
    color: #f8f9fa;
  }
  
  html[data-bs-theme="dark"] .swal2-icon.swal2-warning {
    color: #ffc107;
    border-color: #ffc107;
  }
  
  html[data-bs-theme="dark"] .swal2-icon.swal2-error {
    color: #dc3545;
    border-color: #dc3545;
  }
  
  html[data-bs-theme="dark"] .swal2-icon.swal2-success {
    color: #198754;
    border-color: #198754;
  }
  